*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size:62.5% ;

  --color-hsl : 240;
  
  --bg-color-button: #E1E1E6;
  --bg-button-select:#02799D;
  --color-text-title: hsla(var(--color-hsl), 6% , 21% , 100%);
  --color-icon-button: hsla(var(--color-hsl), 6% , 21% , 100%);
  --button-color-icon: #FFFFFF;
  --bg-body: #FFFFFF;
  --color-volume: hsla(var(--color-hsl), 6% , 21% , 100%);
  
}


.dark-theme {
  --color-hsl : 240;
  --color-icon-button: hsla(var(--color-hsl), 7% , 78% , 100%);
  --color-text-title: #FFFFFF;
  --bg-color-button: #29292E;
  --bg-button-select: #0A3442;
  --button-color-icon: #FFFFFF;
  --bg-body: #121214;
  --color-volume: #FFFFFF;

}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: var(--bg-body);
  
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.color-mode {
  position: absolute;
  top: 60px;
  right: 60px;
}

main {

  align-self: center;

}

.container {
  display: flex;
  gap: clamp(6rem, -12rem + 32vw, 19.2rem);
}

.timer {
  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
  
  color: var(--color-text-title);

  display: flex;

}

.controls {
  display: flex;
  gap: 4rem;
}

.pause svg path,
.play svg path,
.stop svg path,
.add svg path,
.subtract svg path {
  fill: var(--color-icon-button);
}

.florest-icon, 
.rain-icon,
.coffee-icon,
.fireplace-icon {
  fill: var(--color-icon-button);
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

footer  {
  display: grid;
  gap: 3.2rem ;
  grid-template-columns: 1fr 1fr;
}

footer button {

  border-radius: 2.4rem;
  background: var(--bg-color-button);

  width: 13.8rem;
  height: 15.2rem;
}

.volume {
  appearance: none;
  width: 9rem;
  height: 0.4rem;
  margin-top: 3.2rem;
  background: var(--color-volume);

  border-radius: 0.6rem;
}

.volume::-webkit-slider-thumb {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  background: var(--color-volume);
}


.button-selected {
  background: var(--bg-button-select);
}

.button-icon {
  fill: var(--button-color-icon);
  background: var(--button-color-icon);
  
}

.color-white::-webkit-slider-thumb {
  background: var(--button-color-icon);
}




@media (max-width:750px){

  body{
    display: grid;
  }

  .container {
    display: grid;
    gap: 8rem
  }
}


